.sw-admin-menu {
  background-color: var(--color-elevation-surface-sunken);
  border-right: 1px solid var(--color-border-primary-default);
  padding-inline: var(--scale-size-10);
  min-width: 17.5rem;

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    padding-top: var(--scale-size-32);
    padding-inline: var(--scale-size-10);
    grid-column-gap: var(--scale-size-12);
    margin-bottom: var(--scale-size-32);
  }

  &__shopware-logo {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__shop-name {
    font-family: var(--font-family-headings);
    color: var(--color-text-primary-default);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-xs);
    margin-bottom: 0;
  }

  &__version {
    font-size: var(--font-size-2xs);
    color: var(--font-color-body);
  }

  &__item {
    min-height: var(--scale-size-36);
    padding-inline: var(--scale-size-10);
    text-decoration: none;
    border-radius: var(--border-radius-s);
    color: var(--color-text-primary-default);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height-xs);
    font-size: var(--font-size-xs);
    outline-color: var(--color-border-brand-selected);
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: var(--scale-size-10);

    &:hover, &:focus-visible {
      background-color: var(--color-zinc-0);
    }

    &.router-link-active:not([aria-expanded]) {
      background-color: var(--color-zinc-0);
      font-weight: var(--font-weight-bold);
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 60%;
        background-color: var(--color-border-brand-selected);
        border-radius: var(--border-radius-round);
        left: -4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}