@import '~scss/variables';

$sw-tooltip-z-index: $z-index-tooltip;
$sw-tooltip-color-background: var(--color-elevation-surface-floating);
$sw-tooltip-color: var(--color-text-inverse-default);
$sw-tooltip-border-radius: var(--border-radius-overlay);

.sw-tooltip {
    position: absolute;
    z-index: $sw-tooltip-z-index;

    &.sw-tooltip--dark,
    &.sw-tooltip--light {
        background-color: $sw-tooltip-color-background;
        border-radius: $sw-tooltip-border-radius;
        color: $sw-tooltip-color;
        padding: var(--scale-size-12);
        font-size: var(--font-size-2xs);
        word-wrap: break-word;

        &::before {
            content: '';
            position: absolute;
            height: var(--scale-size-8);
            width: var(--scale-size-8);
            transform: rotate(45deg);
            background: $sw-tooltip-color-background;
        }

        &.sw-tooltip--top::before {
            bottom: -4px;
            margin-left: -4px;
            left: 50%;
        }

        &.sw-tooltip--bottom::before {
            top: -4px;
            margin-left: -4px;
            left: 50%;
        }

        &.sw-tooltip--left::before {
            top: 50%;
            margin-top: -4px;
            right: -4px;
        }

        &.sw-tooltip--right::before {
            top: 50%;
            margin-top: -4px;
            left: -4px;
        }
    }
}
